.detalle-card {
    max-width: 400px; 
    max-height: 1000px;
    margin: auto; 
    padding: 16px;
    border-radius: 12px;
    background: #1e1e1e; 
    color: #fff;
    text-align: center;
  }
  
  .detalle-img {
    width: 100%;
    max-height: 320px; 
    object-fit: cover;
    border-radius: 8px;
  }
  
  .stars {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    margin: 10px 0;
  }
  
  ion-button {
    background: #007bff;
    border-radius: 20px;
    font-weight: bold;
  }
  
  .titulo{
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 40% ;
  }