<ion-card class="detalle-card">
  <img [src]="producto.image" [alt]="producto.title" class="detalle-img" />

  <ion-card-header>
    <ion-card-title>{{ producto.title }}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <p><strong>Categoría:</strong> {{ producto.category }}</p>
    <p><strong>Precio:</strong> ${{ producto.price }}</p>

    <div class="stars">
      <ng-container *ngFor="let star of getStars(producto.rating.rate)">
        <i [ngClass]="star"></i>
      </ng-container>

    </div>

    <p><strong>Cantidad:</strong> {{ producto.cantidad }}</p>

    <ion-button expand="full" color="primary" (click)="borrar(producto.id)">
      Eliminar del carrito
    </ion-button>
  </ion-card-content>
</ion-card>